@use 'sass:map';
@use '../../colors' as colors;
@use '../../generator-fonts' as gf;

.fact-card__p {
  color: map.get(colors.$colors, 'black-text');
  @include gf.generator-fonts('inter');
  line-height: 24px;
  letter-spacing: .2px;
}