.wrapper {
  width: 1130px;
  height: 434px;
  margin: 100px auto 0;
  background: url(../../../public/images/wrapper.webp) right center no-repeat;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}