@use 'sass:map';
@use '../../colors' as colors;
@use '../../generator-fonts' as gf;

.wrapper__h1 {
  @include gf.generator-fonts('heading');
  font-size: 58px;
  line-height: 63.8px;
  color: map.get(colors.$colors, 'black-text');
  width: 485px;
}