@use 'sass:map';
@use '../../colors' as color;

.footer__address {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  display: flex;
  align-self: end;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 1px solid map.get(color.$colors, 'border-address');
  padding: 36px 0;
}