@use 'sass:map';
@use '../colors' as colors;
@use '../generator-fonts' as gf;

.book-a-demo {
  width: 139px;
  height: 36px;
  border: none;
  outline: none;
  color: #fff;
  background: map.get(colors.$colors, 'soft-blue');
  @include gf.generator-fonts('inter');
}