@use 'sass:map';
@use '../colors' as color;

.wrapper-2 {
  margin-top: 120px;
  width: 100%;
  height: 550px;
  background: map.get(color.$colors, 'soft-blue');
  display: flex;
  align-items: center;
  justify-content: center;
}