@use 'sass:map';
@use '../colors' as color;

.wrapper-2 {
  margin-top: 120px;
  width: 100%;
  height: 550px;
  padding: 0 215px;
  background: map.get(color.$colors, 'soft-blue');
  display: flex;
  align-items: center;

  & > div {
    outline: 1px dashed crimson;
  }
}