$colors: (
        soft-blue: #0070A0,
        gray-text: #33383F,
        black-text: #1F1F1F,
        pale-blue: #F7F9FA,
        accordion-item-border: #C2CDD8,
        accordion-ittem-heading-non-active: #626A72
);