@use 'sass:map';
@use './colors' as colors;

@mixin generator-fonts($for-element) {
  @if ($for-element == 'navbar') {
    font: {
      size: 15px;
    }
    letter-spacing: .2px;
    line-height: 24px;
    color: map.get(colors.$colors, 'grey-text');
  } @else {
    @error 'неверный тип элемента';
  }
}