.footer__address__social-networks__link {
  display: inline-block;
  width: 22.64px;
  height: 22.64px;
  background-size: 22.64px 22.64px;
  background-repeat: no-repeat;
  background-position: center;
}