@use 'sass:map';
@use '../../colors' as colors;
@use '../../generator-fonts' as gf;

.wrapper__p {
  @include gf.generator-fonts('inter');
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .2px;
  color: map.get(colors.$colors, 'black-text');
  width: 351px;
}