.block-of-promises {
  width: 1230px;
  height: 534px;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 62px;
  background: url(../../../public/images/accordion-items/pc.svg) no-repeat right center;
  background-size: 481px 479px;
}