@use 'sass:map';
@use '../../colors' as colors;
@use '../../generator-fonts' as gf;

.trusted-company__h {
  color: map.get(colors.$colors, 'black-text');
  @include gf.generator-fonts('inter');
  font-size: 24px;
  line-height: 37.5px;
  letter-spacing: .2px;
}