@use 'sass:map';
@use '../../colors' as color;
@use '../../generator-fonts' as gf;

.about-block__heading {
  display: inline-block;
  width: 400px;
  margin-right: 100px;
  @include gf.generator-fonts('heading');
  color: map.get(color.$colors, 'black-text');
}