@use 'sass:map';
@use '../../colors' as color;

@font-face {
  font-family: "Fraunces Regular";
  font-style: normal;
  font-weight: 400;
  src: url(/public/fonts/Frauncess/Fraunces-Regular.ttf);
}

.about-block__heading {
  display: inline-block;
  width: 400px;
  margin-right: 100px;
  font: {
    family: "Fraunces Regular";
    size: 42px;
  }
  line-height: 50.4px;
  letter-spacing: .2px;
  color: map.get(color.$colors, 'black-text');
}