@use 'sass:map';
@use '../../../colors' as color;
@use '../../../generator-fonts' as gf;

.footer__newsletter__paragraph {
  color: map.get(color.$colors, 'black-text');
  @include gf.generator-fonts('inter');
  font-size: 16px;
  line-height: 24px;
}