@use 'sass:map';
@use '../../../../colors' as color;

@font-face {
  font-family: "Fraunces Regular";
  font-style: normal;
  font-weight: 400;
  src: url(/public/fonts/Frauncess/Fraunces-Regular.ttf);
}

.block-of-promises__accordion__item__heading {
  font: {
    family: "Fraunces Regular";
    size: 20px;
  }
  line-height: 25.2px;
  letter-spacing: .2px;
  color: map.get(color.$colors, 'accordion-ittem-heading-non-active');
  margin-left: 16px;
}