@use 'sass:map';
@use '../../../../colors' as color;
@use '../../../../generator-fonts' as gf;

.block-of-promises__accordion__item__heading {
  @include gf.generator-fonts('heading');
  font-size: 20px;
  color: map.get(color.$colors, 'accordion-ittem-heading-non-active');
  margin-left: 16px;
}