@use 'sass:map';
@use '../../colors' as colors;

@font-face {
  font-family: "Fraunces Regular";
  font-style: normal;
  font-weight: 400;
  src: url(/public/fonts/Frauncess/Fraunces-Regular.ttf);
}

.fact-card__heading {
  font: {
    family: "Fraunces Regular";
    size: 25px;
  }
  line-height: 31px;
  letter-spacing: .2px;
  color: map.get(colors.$colors, 'black-text');
}