@use 'sass:map';
@use '../../colors' as colors;
@use '../../generator-fonts' as gf;

.fact-card__heading {
  @include gf.generator-fonts('heading');
  font-size: 25px;
  line-height: 31px;
  color: map.get(colors.$colors, 'black-text');
}