.header {
  width: 100%;
  height: 75px;

  & > div {
    width: 1230px;
    height: inherit;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}