@use 'sass:map';
@use '../colors' as colors;

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 400;
  src: url(/public/fonts/Inter/inter-regular-webfont.woff2) format('woff');
}

.header__navbar__link {
  font: {
    family: "Inter Regular";
    size: 16px;
  }
  text-decoration: none;
  color: map.get(colors.$colors, 'gray-text');
}