@use 'sass:map';
@use '../colors' as colors;
@use '../generator-fonts' as gf;

.high-link {
  @include gf.generator-fonts('inter');
  color: map.get(colors.$colors, 'soft-blue');
  margin-right: 20px;
  text-decoration: none;
}