@use 'sass:map';
@use '../../../colors' as colors;
@use '../../../generator-fonts' as gf;

.header__navbar__link {
  @include gf.generator-fonts('inter');
  font-size: 16px;
  text-decoration: none;
  color: map.get(colors.$colors, 'gray-text');
}