@use 'sass:map';
@use '../../colors' as color;

@font-face {
  font-family: "Fraunces Regular";
  font-style: normal;
  font-weight: 400;
  src: url(/public/fonts/Frauncess/Fraunces-Regular.ttf);
}

.block-of-promise__heading {
  display: inline-block;
  width: 629px;
  font: {
    family: "Fraunces Regular";
    size: 39px;
  }
  line-height: 50.4px;
  letter-spacing: .5px;
}