@use 'sass:map';
@use '../../colors' as color;
@use '../../generator-fonts' as gf;

.block-of-promise__heading {
  display: inline-block;
  width: 629px;
  @include gf.generator-fonts('heading');
  font-size: 39px;
}